<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->
</head>

<body>

    {{> header}}

    {{body}}

    <!-- build:js js/app.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
</body>

</html>
