---
layout: default.hbs
title: Test title for index page
---

<div class="container">
    <h1 class="header-title">Homepage - cssnext demo <div class="small"><a href="http://cssnext.io/features/">cssnext features</a></div></h1>
    <div class="images">
        <div class="img-item">
            <img src="https://placeimg.com/640/480/any" alt="">
        </div>
        <div class="img-item">
            <img src="https://placeimg.com/640/480/any" alt="">
        </div>
        <div class="img-item">
            <img src="https://placeimg.com/640/480/any" alt="">
        </div>
    </div>
</div>
